#exam_end .modal-dialog {
	width: 100%;
}

#exam_end .modal-body {
	height: calc(100vh - 96px);
}

#exam_end h1 {
	line-height: 1.5;
	word-break: keep-all;
}

#exam_end h1 + .panel {
	margin-top: 40px;
}

#exam_end .list-group {
	overflow: auto;
	max-height: calc(100vh - 334px);
}

#exam_end .modal-footer {
	padding: 30px;
}

@media (max-width: 768px) {
	#exam_end .modal-body {
		height: initial;
		min-height: calc(100vh - 96px);
	}
	
	#exam_end .list-group {
		max-height: initial;
	}
}